<nav nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
  <a href="#" class="navbar-brand">Orgamenu</a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item" *ngIf="showAdminBoard">
      <a  class="nav-link" routerLink="admin"><i class="fa fa-user-secret"></i></a>
    </li>
  </ul>
  <button class="navbar-toggler ml-auto" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <nav [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="register" (click)="isMenuCollapsed = true"><i class="fa fa-user-plus fa-lg"> </i>S'enregistrer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" (click)="isMenuCollapsed = true"><i class="fa fa-sign-in fa-lg"> </i>Connexion</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a  class="nav-link" routerLink="home" (click)="isMenuCollapsed = true">Accueil</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="recette" (click)="isMenuCollapsed = true">Recette</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="course" (click)="isMenuCollapsed = true">Course</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="sante" (click)="isMenuCollapsed = true">Santé</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="calendrier" (click)="isMenuCollapsed = true">Calendrier</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="profile" (click)="isMenuCollapsed = true">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link close" (click)="logout()">
          <i class="fa fa-sign-out" ></i>
        </a>
      </li>
    </ul>
  </nav>
</nav>


<div class="container p-3 my-3 text-white"></div>
