<div class="container titre" fxLayoutAlign="center center">
  <header class="header">
    <h4>Proposition du Jour:</h4>
  </header>
</div >


<div class="container cartes " fxLayout="row wrap"   >
  <div class="my-flex-container"
       fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutGap="10px grid"
       fxLayoutAlign="space-between space-around">
    <div  class="carte" *ngFor="let recette of recettes" >
      <div class="card">
        <img class="card-img-top" [src]="recette.imageUrl" [alt]="recette.name" >
        <div class="card-img-overlay">
          <a routerLink="/recette/{{recette.idRecette}}" class="stretched-link"></a>
        </div>
          <h5 class="card-title mt-3">{{recette.name}}</h5>
      </div>
    </div>

  </div>
</div>



