<div class="container" fxLayoutAlign="center center">
  <header class="">
    <h5>Proposition du Jour</h5>
  </header>
</div >

<div class="container" fxLayoutAlign="center center">
  <div class="my-flex-container"
       fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutGap="10px grid"
       fxLayoutAlign="start">
    <ng-container  *ngFor="let recette of recettes">
      <div class="card" style="width:200px">
        <img class="card-img-top" [src]="recette.imageUrl" [alt]="recette.name" >
        <div class="card-img-overlay">
          <a routerLink="/recette/{{recette.idRecette}}" class="stretched-link"></a>
        </div>
          <h4 class="card-title">{{recette.name}}</h4>
      </div>
    </ng-container>

  </div>
</div>





