.custom-switch{
  width: 300px;
}

.custom-switch{
  //height: 72px;
  border:1px solid #f5f5f5;
}
.custom-control-label{
  text-align: center;
}

.titleOut{
  margin: 16px;
}
.modalbutton{
  height: 610px;
  margin-left: 10px;
  color: white;
  text-align: center;
}


.carte{
  border-radius: 25px;
}

