<div class="container cartes" fxLayout="row"  fxLayoutAlign="center center"  >
  <div class="my-flex-container"
       fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutGap="10px grid"
       fxLayoutAlign="space-around center">
    <div  class="carte" *ngFor="let recette of recettes" >
      <div class="card">
        <img class="card-img-top" [src]="recette?.imageUrl" [alt]="recette.name" >
        <div class="card-img-overlay">
          <a routerLink="/recette/{{recette?.idRecette}}" class="stretched-link"></a>
        </div>
        <h4 class="card-title">{{recette?.name}}</h4>
      </div>
    </div>

  </div>
</div>
