.recette{
  resize: vertical;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.tempsGlobal{
  background-color: #f5f5f5;
  border-radius: 5px;
}
.title {
  resize: vertical;
  margin-top: 5rem;
}
h2{
  text-align: center;
}
h4{
  text-align: center;
}
@media screen and (min-width: 200px) and (max-width: 640px)  {
  img{
    margin-left: 60px;
  }
  .tempsGlobal{
    margin-top: 5px;
  }
  .etapes{
    margin-bottom: 3rem;
  }
  .title{
    margin-top: 1rem;
  }
}
