<div id="general" class="d-flex flex-row">
  <div>
    <div class="container recette">
      <div class="title">
        <h3>{{recette?.name}}</h3>
        <p>Calories: {{recette?.calorie}} par 100 grammes</p>
      </div>
      <div>
        <img src="{{recette?.imageUrl}}" alt="photo de lasagne">
      </div>
      <div class="container" >
        <app-etapes-details [etapes]="etapes"></app-etapes-details>
      </div>
    </div>
  </div>
<!--conteneur temps-->
  <div id="general2">
    <div class="container temps">
      <div class="preparation">
        <h2>Preparation:</h2>
        <h2>{{recette?.tempPreparation}} MIN</h2>
      </div>
      <div class="cuisson">
        <h2>Cuisson:</h2>
        <h2>{{recette?.tempCuisson}} MIN</h2>
      </div>
    </div>
<!--conteneur ingredients    -->
    <div class="container ingredients">
      <div class="ingredients">
        <h2>Ingrédients:</h2>
        <div class="ingredient"*ngFor="let ingredient of ingredients">{{ingredient.quantity}} {{ingredient.nomIngredient}}</div>
      </div>
    </div>
  </div>
</div>
