.conteneur {
  background-color: #969FAA;
  border-radius: 5px;
  width: 600px;
  height: 566px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}

button{
  flex-grow: 2;
  height: 50px;
  margin: 20px;
}

h1{
  text-align: center;
}
