
<div class="row" >
  <div class="jourAlpha">
<!--    <p>{{JourAlph}}: {{JourNum}} </p>-->
    <p>{{todayDate | date:"EEEE" | titlecase}}: {{todayDate | date:"dd"}} </p>

  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit(buttonType)">
    <div class="selectMidi">
      <select class="browser-default custom-select form-control-sm"
              formControlName="recetteMidi" required>
        <option  [value]="">Recette Midi</option>
        <option *ngFor="let recette of recettes" [value]="recette.idRecette">
          {{ recette.name }}
        </option>
      </select>
    </div>
    <div class="selectSoir">
      <select formControlName="recetteSoir" required
              class="browser-default custom-select form-control-sm">
        <option  [value]="">Recette Soir</option>
        <option *ngFor="let recette of recettes" [value]="recette.idRecette">
          {{ recette.name }}
        </option>
      </select>
      <button type="submit" [disabled]="form.invalid" (click)="onSubmit('save')" class="btn btn-primary bouton" data-toggle="tooltip" data-placement="top" title="update or save"><i class="fa fa-save"></i></button>
      <button type="submit" (click)="onSubmit('delete')"class="btn btn-primary bouton" data-toggle="tooltip" data-placement="top" title="delete"><i class="fa fa-trash"></i></button>
      <app-loading *ngIf="showSpinner"></app-loading>
    </div>
  </form>
</div>
