
.jourAlpha{
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  width: 110px;

}


.selectMidi{
  width: 300px;
  //height: 25px;
}
.selectSoir{
  display: flex;
  flex-direction: row;
  width: 300px;

}

