<div class="row" >
  <div class="jourAlpha">
<!--    <p>{{JourAlph}}: {{JourNum}} </p>-->
    <p>{{todayDate | date:"EEEE" | titlecase}}: {{todayDate | date:"dd"}} </p>

  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit(buttonType)">
    <div class="selectMidi">
      <select [compareWith]="compareFn"
              class="browser-default custom-select form-control-sm"
              formControlName="recetteMidi">
        <option  [ngValue]="">{{recetteToSaveMidi?.name}}</option>
        <option *ngFor="let recette of recettes" [ngValue]="recette.idRecette">
          {{ recette.name }}
        </option>
      </select>
    </div>
    <div class="selectSoir">
      <select  [compareWith]="compareFn"
               formControlName="recetteSoir"
              class="browser-default custom-select form-control-sm">
        <option  [ngValue]="null">{{recetteToSaveSoir?.name}}</option>
        <option *ngFor="let recette of recettes" [ngValue]="recette.idRecette">
          {{ recette.name }}
        </option>
      </select>
      <button type="submit" (click)="onSubmit('save')" class="btn btn-primary bouton"><i class="fa fa-save"></i></button>
      <button type="submit" (click)="onSubmit('update')"class="btn btn-primary bouton"><i class="fa fa-pencil"></i></button>
    </div>
  </form>
</div>

