calendar{
  display: flex;
  flex-direction: column;
  height: 700px;
}

.date {
  background-color: whitesmoke;
  border: 1px solid #8492A6;
  border-radius: 5px;
  width: 1096px;
  height: 350px;

}
.datecol{
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
}

.ingredientglobal{
  background-color: whitesmoke;
  border: 1px solid #8492A6;
  border-radius: 5px;
  width: 1096px;
  height: 300px;
}
h6{
  margin-top: 8px;
  margin-bottom: 8px;
}

app-ingredients{
  border: black 1px solid;
  width: 350px;
}

app-selected-recettetoday{
  border: black 1px solid;
  width: 350px;
}
