<div class="calendar">
  <h6>Date:</h6>
  <div class="date">
    <p>{{todayMonth | date:"MMMM" |titlecase}}<p>
    <div class="container datecol">
    <app-line-calendrar  *ngFor="let index of indexDateList" [indexDate]="index"></app-line-calendrar>

    </div>
  </div>
  <h6>Ingrédient needed:</h6>
  <div class="container ingredientglobal"
       fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutGap="10px"
       fxLayoutAlign="space-evenly stretch" >
    <app-ingredients fxFlex="45"></app-ingredients>
    <app-selected-recettetoday  fxFlex="45"></app-selected-recettetoday>
  </div>
</div>
