<div class="d-flex flex-column ">
  <div class="calendar ">
    <h4> <p>{{todayMonth | date:"MMMM" |titlecase}}:<p></h4>
    <div class="date d-flex flex-row align-content-center  pt-4" >

      <div class="container datecol">
        <app-line-calendrar  *ngFor="let index of indexDateList"
                             [indexDate]="index"
                             (valueUpdate)="getUpdatedvalue()"
                             (deleteChild)="deleteChild()"></app-line-calendrar>

      </div>
    </div>
    <h6></h6>
    <div class="ingredientglobal d-flex flex-column flex-wrap  flex-sm-row"
        fxLayoutGap.lt-xl="10px" >
      <app-ingredients class=""  fxFlex="49"></app-ingredients>
      <app-selected-recettetoday  fxFlex="49" [recettes]="recettes"></app-selected-recettetoday>
    </div>
  </div>
</div>
