.date {
  background-color: whitesmoke;
  border: 1px solid #8492A6;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}

.datecol{
  min-width: 450px;
}

h4{
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 25px;
}

app-ingredients{
  border: black 1px solid;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
  border-radius: 25px;
  max-width: 548px;
  min-width: 450px;
}

app-selected-recettetoday{
  background-color: #fffffe;
  border-radius: 25px;
  max-width: 548px;
  min-width: 450px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);

}
