.box1{
  overflow-y: auto;
  height: 300px;
  width: 500px;
  background-color: #fffffe;
  border-radius: 25px;
  max-width: 548px;

}
p{
  width: 220px;

}
h5{
  text-align: center;
}
.myColorClass{
  background-color: #f5f5f5;
}
